@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
:root {
  --dark: $c-black;
  --light: $c-white;
  --background: var($c-black);
  --foreground: var($c-white);
}

body {
  overflow: hidden;
  background: #202124;
  background: var(--background);
  font-family: "Inter", sans-serif;
  color: #fff;
  color: var(--foreground, #fff);
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
  transition: 333ms transform cubic-bezier(0.7, 0.3, 0.25, 1.15) 1200ms;
  will-change: transform;
}

.github-corner .octo-arm,
.github-corner .octo-body {
  fill: #202124;
  fill: var(--background, #202124);
}
.github-corner .triange {
  fill: #fff;
  fill: var(--foreground, #fff);
}

.github-corner:hover .octo-arm {
  -webkit-animation: octocat-wave 560ms ease-in-out;
  animation: octocat-wave 560ms ease-in-out;
}

@-webkit-keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    -webkit-animation: none;
    animation: none;
  }

  .github-corner .octo-arm {
    -webkit-animation: octocat-wave 560ms ease-in-out;
    animation: octocat-wave 560ms ease-in-out;
  }
}
button,
select {
  position: absolute;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  color: #fff;
  color: var(--foreground, #fff);
  background-color: transparent;
  cursor: pointer;
}

select {
  position: relative;
}

.options {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}

button {
  bottom: 1rem;
  left: 1rem;
  padding: 0;
  outline: none;
  padding: 0 0 0.5em 0.3em;
}
button span {
  display: none;
}
button stonrg {
  display: block;
}
button svg {
  display: block;
  width: 2rem;
  height: 2rem;
}
button path {
  fill: currentColor;
}
button .line {
  display: none;
}

.isDark button .line {
  display: block;
}

select {
  font-size: 1.5rem;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  color: turquoise;
  padding: 0.25em 1.2em 0.25em 0.3em;
  background-color: rgba(32, 33, 36, 0.5);
  background-size: auto 25%;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.7rem) 55%;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%20%3C%21--%20Generator%3A%20IcoMoon.io%20--%3E%20%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%20%3Csvg%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M%2096.00%2C96.00l-96.00%2C96.00l%20256.00%2C256.00l%20256.00-256.00l-96.00-96.00L%20256.00%2C256.00L%2096.00%2C96.00z%22%20%3E%3C/path%3E%3C/svg%3E");
  transition: 150ms background-color;
}
select:focus {
  outline: none;
}
select:hover {
  background-color: rgba(32, 33, 36, 0.8);
}

label {
  display: inline-block;
}

@media (max-width: 480px) {
  button {
    left: auto;
    right: 1rem;
    bottom: 7rem;
  }

  select,
  label {
    width: 100%;
  }
}
.label {
  font-size: 0.7em;
  display: block;
  padding: 0 0.5em;
}

.currentColor {
  pointer-events: none;
  position: absolute;
  left: 1.5rem;
  top: 1rem;
  text-shadow: 0 1px 10px #202124;
}
.currentColor h2 {
  margin: 0;
}
.currentColor span {
  display: block;
  margin-top: 0.1em;
}
.currentColor span::before {
  position: relative;
  top: -0.2em;
  display: inline-block;
  margin-right: 0.25em;
  color: var(--color);
  content: "⬤";
  font-size: 0.9em;
}
