__pycache__/
__pypackages__/
!/tests/cogs/dataconverter/data/**/*.json
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.data
.directory
.DocumentRevisions-V100
.DS_Store
.eggs/
.env
.fseventsd
.hypothesis/
.idea_modules/
.idea/
.idea/replstate.xml
.installed.cfg
.ipynb_checkpoints
.LSOverride
.mypy_cache/
.pgpass
.pytest_cache/
.Python
.python-version
.ropeproject
.scrapy
.Spotlight-V100
.spyderproject
.spyproject
.TemporaryItems
.tox/
.Trashes
.venv
.VolumeIcon.icns
.vscode/
.webassets-cache
[Dd]esktop.ini
*.cab
*.cover
*.dll
*.egg
*.egg-info/
*.exe
*.iws
*.lnk
*.log
*.manifest
*.mo
*.mp4
*.msi
*.msix
*.msm
*.msp
*.ogg
*.po
*.pot
*.py[cod]
*.sage.py
*.so
*.spec
*.stackdump
*.stTheme.cache
*.sublime-project
*.sublime-workspace
*.tmlanguage.cache
*.tmPreferences.cache
*$py.class
/.pre-commit-config.yaml
/instagram/zz.py
/site
$RECYCLE.BIN/
atlassian-ide-plugin.xml
bh_unicode_properties.cache
build/
celerybeat-schedule
com_crashlytics_export_strings.xml
coverage.xml
crashlytics-build.properties
crashlytics.properties
develop-eggs/
dist/
docs/
docs/_build/
downloads/
eggs/
ehthumbs_vista.db
ehthumbs.db
env/
ENV/
fabric.properties
GitHub.sublime-settings
htmlcov/
Icon
instance/
lib/
lib64/
local_settings.py
melaniebot/cogs/mod/zzzzz.py
Network Trash Folder
nosetests.xml
oscrypto-ca-bundle.crt
out/
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
Pipfile
Pipfile.lock
sdist/
sftp-config-alt*.json
sftp-config.json
target/
Temporary Items
tests/
Thumbs.db
Thumbs.db:encryptable
tools/
var/
venv/
voice-message.ogg
w
