@charset "UTF-8";
@import url("https://rsms.me/inter/inter-ui.css");
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/spacemono/v12/i7dPIFZifjKcF5UAWdDRYEF8QA.ttf)
    format("truetype");
}

html,
input {
  font-family: "Inter UI", sans-serif;
  font-size: 2rem;
  color: #212121;
  padding: 8.2rem 1rem 1rem;
  background: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::after {
  content: "↓";
  position: fixed;
  top: 0.3rem;
  right: 0.25rem;
  z-index: 2;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.5rem 0.7rem;
}

input {
  -webkit-appearance: none;
  border-radius: none;
  font-size: 1.25rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  box-sizing: border-box;
  padding: 0.5rem 2rem 0.5rem 0.7rem;
  width: 100%;
  line-height: 1;
  color: #212121;
  background: #fff;
  border: 0.5rem solid #fff;
  box-shadow: inset 0 0 0 0.15rem #000, 0 0 0 0.5rem #000;
  letter-spacing: -0.02em;
}
.show-color input {
  transform: translateY(-120%);
  transition: 200ms transform ease-out;
}

.color {
  line-height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 1rem;
  height: 96px;
  box-sizing: border-box;
}
.color.is-dark {
  color: #fff;
}

strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 0.5rem;
  letter-spacing: -0.02em;
}

span {
  font-family: "Space Mono", monospace;
}

.large {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.show-color .color {
  transition: opacity 200ms linear;
  opacity: 0;
}
.show-color .color.keep {
  display: block;
  position: fixed;
  opacity: 1;
  transition: width 333ms cubic-bezier(0.3, 0.7, 0, 1) 150ms;
  transform: translateX(-50%);
}
.show-color .color.keep strong,
.show-color .color.keep span {
  position: absolute;
}
.show-color .color.keep strong {
  left: 1rem;
}
.show-color .color.keep span {
  right: 1rem;
  opacity: 0;
  transition: opacity 200ms 150ms;
}
